  <div class="my-blog-list">
    <div class="blog-header">
      <h2>Your Blogs</h2>
      <a href="/dashboard/create" class="create-btn"><button
          type="submit"
        >Create New Blog</button></a>
    </div>
{{#if blogs.length}}
    {{#each blogs as |blog|}}
      <article class="my-blog-posts">
        <a href="/blog/{{id}}">
          <div class="my-title">
            {{title}}
          </div>
          <div class="my-info">
            By
            {{user.username}}
            on
            {{format_date createdAt}}
            |
            <span>{{comments.length}}
              {{format_plural "comment" comments.length}}</span>
          </div>
        </a>
        <a href="/dashboard/edit/{{id}}" class="edit-btn"><button
            type="submit"
          >Edit Blog</button></a>
        <a href="/dashboard/edit/{{id}}" class="delete-btn"><button
            type="submit"
          >Delete Blog</button></a>

      </article>
    {{/each}}
  </div>
{{/if}}