<div class="blog-list">
  {{#each blogs as |blog|}}
    <article class="blog">
      <a href="/blog/{{id}}">
        <div class="title">
          {{title}}
        </div>
        <div class="info">
          By
          {{user.username}}
          on
          {{createdAt}}
          |
          <span>{{comments.length}} comment(s)</span>
        </div></a>
    </article>
  {{/each}}
</div>