<article class="single-blog-post">
  <div class="post-title">
    <a href="/blog/{{blog.id}}">{{blog.title}}</a>
  </div>
  <div class="content">
    {{blog.content}}
  </div>
  <div class="user-info">
    By
    {{blog.user.username}}
    on
    {{format_date blog.createdAt}}
    |
    <span>{{blog.comments.length}}
      {{format_plural "comment" comments.length}}</span>
  </div>
</article>

{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">Comment</button>
    </div>
  </form>
{{/if}}

<div class="comments">
  {{#each blog.comments}}
    <section class="comment">
      <div class="comment-text">
        {{comment_text}}
      </div>
      <div class="comment-info">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
    </section>
  {{/each}}
</div>

<script src="/javascript/comments.js"></script>